# Artificial Neural Network - Churn Rate

In this project I want to implement an ANN which could model **churn rates**. The dataset consists of following information:
* Following Column are not relevant for modeling
    * RowNumber
    * CustomerId
    * Surname
* All other columns are relevant - independent variables (X)
* Exited is our dependent variable (y)

### Importing the libraries

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
tf.__version__

'2.3.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [40]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [41]:
dataset.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [16]:
X = dataset.iloc[:,3:-1].values
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [23]:
y = dataset.iloc[:,-1].values
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

In [21]:
dataset['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [22]:
dataset['Gender'].unique()

array(['Female', 'Male'], dtype=object)

Label Encoding the "Gender" column

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [26]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [28]:
X.shape

(10000, 12)

### Splitting the dataset into the Training set and Test set

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [36]:
print(X_train.shape)
print(X_test.shape)

(8000, 12)
(2000, 12)

### Feature Scaling

In [37]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
print(X_train)

[[-1.01460667 -0.5698444   1.74309049 ...  0.64259497 -1.03227043
   1.10643166]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497  0.9687384
  -0.74866447]
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [ 0.98560362 -0.5698444  -0.57369368 ...  0.64259497 -1.03227043
   1.41231994]
 [-1.01460667 -0.5698444   1.74309049 ...  0.64259497  0.9687384
   0.84432121]
 [-1.01460667  1.75486502 -0.57369368 ...  0.64259497 -1.03227043
   0.32472465]]

## Part 2 - Building the ANN

### Initializing the ANN

In [42]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [43]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [44]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [45]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [46]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Training the ANN on the Training set

In [47]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 906us/step - loss: 0.6817 - accuracy: 0.6192
Epoch 2/100
250/250 [==============================] - 0s 874us/step - loss: 0.4765 - accuracy: 0.8033
Epoch 3/100
250/250 [==============================] - 0s 903us/step - loss: 0.4332 - accuracy: 0.8165
Epoch 4/100
250/250 [==============================] - 0s 954us/step - loss: 0.4155 - accuracy: 0.8274
Epoch 5/100
250/250 [==============================] - 0s 915us/step - loss: 0.4027 - accuracy: 0.8346
Epoch 6/100
250/250 [==============================] - 0s 911us/step - loss: 0.3904 - accuracy: 0.8390
Epoch 7/100
250/250 [==============================] - 0s 898us/step - loss: 0.3793 - accuracy: 0.8426
Epoch 8/100
250/250 [==============================] - 0s 887us/step - loss: 0.3700 - accuracy: 0.8453
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3625 - accuracy: 0.8505
Epoch 10/100
250/250 [==============================] - 0s 893us/step - loss: 0.3572 - accuracy: 0.8536
Epoch 11/100
250/250 [==============================] - 0s 906us/step - loss: 0.3532 - accuracy: 0.8555
Epoch 12/100
250/250 [==============================] - 0s 884us/step - loss: 0.3501 - accuracy: 0.8562
Epoch 13/100
250/250 [==============================] - 0s 903us/step - loss: 0.3477 - accuracy: 0.8589
Epoch 14/100
250/250 [==============================] - 0s 929us/step - loss: 0.3457 - accuracy: 0.8586
Epoch 15/100
250/250 [==============================] - 0s 892us/step - loss: 0.3446 - accuracy: 0.8599
Epoch 16/100
250/250 [==============================] - 0s 895us/step - loss: 0.3434 - accuracy: 0.8595
Epoch 17/100
250/250 [==============================] - 0s 879us/step - loss: 0.3427 - accuracy: 0.8591
Epoch 18/100
250/250 [==============================] - 0s 970us/step - loss: 0.3419 - accuracy: 0.8614
Epoch 19/100
250/250 [==============================] - 0s 890us/step - loss: 0.3412 - accuracy: 0.8608
Epoch 20/100
250/250 [==============================] - 0s 989us/step - loss: 0.3411 - accuracy: 0.8600
Epoch 21/100
250/250 [==============================] - 0s 906us/step - loss: 0.3402 - accuracy: 0.8602
Epoch 22/100
250/250 [==============================] - 0s 966us/step - loss: 0.3396 - accuracy: 0.8619
Epoch 23/100
250/250 [==============================] - 0s 903us/step - loss: 0.3389 - accuracy: 0.8612
Epoch 24/100
250/250 [==============================] - 0s 915us/step - loss: 0.3388 - accuracy: 0.8612
Epoch 25/100
250/250 [==============================] - 0s 936us/step - loss: 0.3388 - accuracy: 0.8601
Epoch 26/100
250/250 [==============================] - 0s 895us/step - loss: 0.3386 - accuracy: 0.8625
Epoch 27/100
250/250 [==============================] - 0s 898us/step - loss: 0.3382 - accuracy: 0.8608
Epoch 28/100
250/250 [==============================] - 0s 917us/step - loss: 0.3376 - accuracy: 0.8618
Epoch 29/100
250/250 [==============================] - 0s 890us/step - loss: 0.3375 - accuracy: 0.8599
Epoch 30/100
250/250 [==============================] - 0s 881us/step - loss: 0.3377 - accuracy: 0.8608
Epoch 31/100
250/250 [==============================] - 0s 968us/step - loss: 0.3372 - accuracy: 0.8610
Epoch 32/100
250/250 [==============================] - 0s 912us/step - loss: 0.3373 - accuracy: 0.8614
Epoch 33/100
250/250 [==============================] - 0s 888us/step - loss: 0.3367 - accuracy: 0.8611
Epoch 34/100
250/250 [==============================] - 0s 946us/step - loss: 0.3366 - accuracy: 0.8618
Epoch 35/100
250/250 [==============================] - 0s 939us/step - loss: 0.3362 - accuracy: 0.8621
Epoch 36/100
250/250 [==============================] - 0s 890us/step - loss: 0.3361 - accuracy: 0.8624
Epoch 37/100
250/250 [==============================] - 0s 929us/step - loss: 0.3362 - accuracy: 0.8629
Epoch 38/100
250/250 [==============================] - 0s 897us/step - loss: 0.3359 - accuracy: 0.8622
Epoch 39/100
250/250 [==============================] - 0s 897us/step - loss: 0.3358 - accuracy: 0.8627
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8630
Epoch 41/100
250/250 [==============================] - 0s 890us/step - loss: 0.3360 - accuracy: 0.8635
Epoch 42/100
250/250 [==============================] - 0s 903us/step - loss: 0.3349 - accuracy: 0.8635
Epoch 43/100
250/250 [==============================] - 0s 903us/step - loss: 0.3355 - accuracy: 0.8619
Epoch 44/100
250/250 [==============================] - 0s 925us/step - loss: 0.3352 - accuracy: 0.8639
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8635
Epoch 46/100
250/250 [==============================] - 0s 888us/step - loss: 0.3351 - accuracy: 0.8629
Epoch 47/100
250/250 [==============================] - 0s 914us/step - loss: 0.3346 - accuracy: 0.8611
Epoch 48/100
250/250 [==============================] - 0s 976us/step - loss: 0.3347 - accuracy: 0.8644
Epoch 49/100
250/250 [==============================] - 0s 908us/step - loss: 0.3342 - accuracy: 0.8626
Epoch 50/100
250/250 [==============================] - 0s 902us/step - loss: 0.3345 - accuracy: 0.8655
Epoch 51/100
250/250 [==============================] - 0s 894us/step - loss: 0.3343 - accuracy: 0.8635
Epoch 52/100
250/250 [==============================] - 0s 935us/step - loss: 0.3343 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 0s 885us/step - loss: 0.3343 - accuracy: 0.8629
Epoch 54/100
250/250 [==============================] - 0s 932us/step - loss: 0.3341 - accuracy: 0.8634
Epoch 55/100
250/250 [==============================] - 0s 909us/step - loss: 0.3340 - accuracy: 0.8654
Epoch 56/100
250/250 [==============================] - 0s 898us/step - loss: 0.3341 - accuracy: 0.8640
Epoch 57/100
250/250 [==============================] - 0s 922us/step - loss: 0.3337 - accuracy: 0.8626
Epoch 58/100
250/250 [==============================] - 0s 879us/step - loss: 0.3336 - accuracy: 0.8621
Epoch 59/100
250/250 [==============================] - 0s 886us/step - loss: 0.3338 - accuracy: 0.8644
Epoch 60/100
250/250 [==============================] - 0s 863us/step - loss: 0.3336 - accuracy: 0.8641
Epoch 61/100
250/250 [==============================] - 0s 915us/step - loss: 0.3340 - accuracy: 0.8626
Epoch 62/100
250/250 [==============================] - 0s 866us/step - loss: 0.3338 - accuracy: 0.8626
Epoch 63/100
250/250 [==============================] - 0s 932us/step - loss: 0.3333 - accuracy: 0.8652
Epoch 64/100
250/250 [==============================] - 0s 870us/step - loss: 0.3339 - accuracy: 0.8649
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8646
Epoch 66/100
250/250 [==============================] - 0s 915us/step - loss: 0.3334 - accuracy: 0.8637
Epoch 67/100
250/250 [==============================] - 0s 902us/step - loss: 0.3333 - accuracy: 0.8656
Epoch 68/100
250/250 [==============================] - 0s 895us/step - loss: 0.3330 - accuracy: 0.8636
Epoch 69/100
250/250 [==============================] - 0s 895us/step - loss: 0.3330 - accuracy: 0.8637
Epoch 70/100
250/250 [==============================] - 0s 908us/step - loss: 0.3334 - accuracy: 0.8622
Epoch 71/100
250/250 [==============================] - 0s 874us/step - loss: 0.3336 - accuracy: 0.8630
Epoch 72/100
250/250 [==============================] - 0s 868us/step - loss: 0.3329 - accuracy: 0.8626
Epoch 73/100
250/250 [==============================] - 0s 885us/step - loss: 0.3333 - accuracy: 0.8637
Epoch 74/100
250/250 [==============================] - 0s 914us/step - loss: 0.3333 - accuracy: 0.8622
Epoch 75/100
250/250 [==============================] - 0s 920us/step - loss: 0.3326 - accuracy: 0.8629
Epoch 76/100
250/250 [==============================] - 0s 888us/step - loss: 0.3328 - accuracy: 0.8634
Epoch 77/100
250/250 [==============================] - 0s 891us/step - loss: 0.3330 - accuracy: 0.8618
Epoch 78/100
250/250 [==============================] - 0s 914us/step - loss: 0.3332 - accuracy: 0.8624
Epoch 79/100
250/250 [==============================] - 0s 922us/step - loss: 0.3328 - accuracy: 0.8641
Epoch 80/100
250/250 [==============================] - 0s 908us/step - loss: 0.3328 - accuracy: 0.8633
Epoch 81/100
250/250 [==============================] - 0s 899us/step - loss: 0.3331 - accuracy: 0.8627
Epoch 82/100
250/250 [==============================] - 0s 910us/step - loss: 0.3331 - accuracy: 0.8621
Epoch 83/100
250/250 [==============================] - 0s 905us/step - loss: 0.3326 - accuracy: 0.8639
Epoch 84/100
250/250 [==============================] - 0s 913us/step - loss: 0.3332 - accuracy: 0.8633
Epoch 85/100
250/250 [==============================] - 0s 887us/step - loss: 0.3330 - accuracy: 0.8627
Epoch 86/100
250/250 [==============================] - 0s 903us/step - loss: 0.3324 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 0s 954us/step - loss: 0.3327 - accuracy: 0.8651
Epoch 88/100
250/250 [==============================] - 0s 895us/step - loss: 0.3327 - accuracy: 0.8640
Epoch 89/100
250/250 [==============================] - 0s 879us/step - loss: 0.3323 - accuracy: 0.8640
Epoch 90/100
250/250 [==============================] - 0s 867us/step - loss: 0.3333 - accuracy: 0.8631
Epoch 91/100
250/250 [==============================] - 0s 993us/step - loss: 0.3319 - accuracy: 0.8648
Epoch 92/100
250/250 [==============================] - 0s 914us/step - loss: 0.3329 - accuracy: 0.8627
Epoch 93/100
250/250 [==============================] - 0s 896us/step - loss: 0.3323 - accuracy: 0.8635
Epoch 94/100
250/250 [==============================] - 0s 902us/step - loss: 0.3326 - accuracy: 0.8627
Epoch 95/100
250/250 [==============================] - 0s 912us/step - loss: 0.3324 - accuracy: 0.8630
Epoch 96/100
250/250 [==============================] - 0s 938us/step - loss: 0.3327 - accuracy: 0.8635
Epoch 97/100
250/250 [==============================] - 0s 880us/step - loss: 0.3326 - accuracy: 0.8625
Epoch 98/100
250/250 [==============================] - 0s 901us/step - loss: 0.3324 - accuracy: 0.8644
Epoch 99/100
250/250 [==============================] - 0s 875us/step - loss: 0.3333 - accuracy: 0.8618
Epoch 100/100
250/250 [==============================] - 0s 898us/step - loss: 0.3324 - accuracy: 0.8624

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Exercise**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [50]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [51]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [52]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1517   78]
 [ 199  206]]

0.8615